<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <!-- Timeout value for commands. If set to '0' commands never timeout! -->
    <add key="CommandTimeout" value="120"/>
    <!-- Cache-entries expires every day at 23:59 -->
    <!-- Minutes (0-59), Hours (0-23), Days (1-31), Months (1-12), DaysOfWeeks (0-6, Sunday = 0). wildcard means "run every" -->
    <add key="DLBR.DCF.KDB.BusinessLogic.SecurityServiceLogic.HerdOwnerUser_ExpirationPolicy" value="2 * * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.BasicInformationLogic.Metadata_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.BasicInformationLogic.ValidationInformation_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.EarmarkCombinationManager.CacheManager_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.AddressLogic.HerdOwnerAddress_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.AddressLogic.HerdCHRAddress_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.ReportFileLogic.CacheManager_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.EarmarkOrderLogic.ImagesById_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.ClassificationManager.CacheManager_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.AdvisorLogic.AdvisorId_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.AdvisorLogic.AdvisorNumber_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.AnimalLogic.AnimalNumber_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.HerdLogic.HerdId_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.HerdLogic.HerdNumber_ExpirationPolicy" value="59 23 * * *"/>
    <add key="DLBR.DCF.KDB.BusinessLogic.SecurityServiceLogic.HerdOwnerUser_ExpirationPolicy" value="2 * * * *"/>
    <add key="CacheHelper_DefaultExpirationPolicy" value="59 23 * * *"/>
    <add key="ReportServerUrl" value="http://172.23.125.124/ReportServer"/>
    <add key="ReportServerUser" value="LR-00DIBMDWH01\dcfuser"/>
    <add key="ReportServerPassword" value="Dcf01User"/>
    <add key="ReportingServicesAuthorizationEndpoint" value="https://dev.dcf.ws.dlbr.dk/DCFServices/ReportingServicesAuthorizationEntityService.svc/adfs"/>
    <add key="ReportingServicesBaseUrl" value="https://dev.dcf.ws.dlbr.dk/DCFServices/ReportingServices/ReportRedirect.aspx"/>
    <add key="ReportingServicesSystemUser" value="DCFTESTDWREPORT"/>
  </appSettings>
  <!-- Oracle Data Provider logging -->
  <!-- http://database.in2p3.fr/doc/oracle/Oracle_Database_11_Release_1_%2811.1%29_Documentation/win.111/e10927/featConfig.htm -->
  <oracle.dataaccess.client>
    <settings>
      <add name="PerformanceCounters" value="4095"/>
      <add name="TraceLevel" value="2"/>
      <add name="TraceOption" value="0"/>
      <add name="TraceFileName" value="c:\LogFiles\Oracle\odpnet2.trc"/>
      <!--<add name="OrderType" value="udtMapping factoryName='DLBR.DCF.Repository.UserDefinedTypes.OrderTypeFactory, OrderTypeFactory' typeName='ORDERTYPE' schemaName='DCF_SERVICES'"/>
      <add name="OrderTable" value="udtMapping factoryName='DLBR.DCF.Repository.UserDefinedTypes.OrderTableFactory, OrderTableFactory' typeName='DCF_SERVICES.TO_ORDREOMKOSTNING_SUM' schemaName='DCF_SERVICES'"/>-->
    </settings>
  </oracle.dataaccess.client>
  <cachingConfiguration defaultCacheManager="DefaultManager">
    <cacheManagers>
      <add name="DefaultManager" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.ClassificationManager.CacheManager" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.AddressLogic.HerdOwnerAddress" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="500000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.AddressLogic.HerdCHRAddress" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="500000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.HerdLogic.HerdId" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="200000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.HerdLogic.HerdNumber" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="200000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.HerdLogic.UserHerdNumber" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.AnimalLogic.AnimalNumber" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="500000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.AdvisorLogic.AdvisorId" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="10000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.AdvisorLogic.AdvisorNumber" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="10000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="DLBR.DCF.KDB.BusinessLogic.EarmarkCombinationManager.CacheManager" backingStoreName="Null Storage" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </cacheManagers>
    <backingStores>
      <add name="Null Storage" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </backingStores>
  </cachingConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="System.Diagnostics TraceListener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="System.Diagnostics.DefaultTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData=""/>
    </listeners>
    <formatters></formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="System.Diagnostics TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <notProcessed switchValue="All" name="General"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="System.Diagnostics TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.267.0" newVersion="2.1.267.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
